body{
    margin: 0;
    padding: 0;
    background-image: url('bg2.jpg');
    background-size: cover;
   
}


img{
    opacity: 0.6;
}






#globe{
    font-size: 60px;
   margin: 10PX;
   padding: 5px;
   color: rgb(255, 255, 255) ;
   
}




.nav{
     display: flex;
     justify-content:flex-end;
     justify-content: space-evenly; 
     text-decoration: none;
   
     margin: 15px;
     padding: 20px;
 }






 .mid{
    display:inline-block;
    width:75%;
    position: absolute;
    left: 200px;
    top: 0px;
    text-decoration: none;
}
  
 



.nav li a{
    text-decoration: none;
    font-family: 'Poiret One', cursive;
  color: rgb(255, 255, 255);
   font-weight: 800;
   text-shadow: rgb(209, 112, 27);
   font: stretch 10px;
   animation: glow 1s ease-in-out infinite alternate ;
   cursor: pointer;
}



.content{
    
    display: inline-block;
    margin-left:  210px;
    margin-top: 30px;
  
}



.travel{
    font-family: 'Homemade Apple', cursive;
    letter-spacing: 15px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    animation: glow 0.5s ease-in-out infinite alternate ;
}



@keyframes glow{
    from{
        text-shadow: 0 0 10px rgb(255, 255, 255),0 0 20px rgb(255, 255, 255) , 0 0 30px rgb(202, 94, 5), 0 0 40px rgb(202, 94, 5),0 0 50px rgb(202, 94, 5), 0 0 60px rgb(202, 94, 5) ,0 0 70px rgb(202, 94, 5);
    }
    to{
        text-shadow: 0 0 10px rgb(255, 255, 255),0 0 20px rgb(255, 255, 255) , 0 0 30px rgb(218, 160, 52), 0 0 40px rgb(218, 160, 52),0 0 50px rgb(218, 160, 52), 0 0 60px rgb(218, 160, 52) ,0 0 70px rgb(218, 160, 52); 
    }
}





.text{
    display: inline-block;
    width: 30%;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: seashell;
  
  animation:bright 0.5s ease-in-out infinite alternate;
}
@keyframes bright{
    from{
        text-shadow: 0 0 10px rgb(255, 255, 255),0 0 20px rgb(255, 255, 255) , 0 0 30px rgb(170, 167, 14), 0 0 40px rgb(170, 167, 14),0 0 50px rgb(170, 167, 14), 0 0 60px rgb(170, 167, 14) ,0 0 70px rgb(170, 167, 14);
    }
    to{
        text-shadow: 0 0 10px rgb(255, 255, 255),0 0 20px rgb(255, 255, 255) , 0 0 30px rgb(238, 234, 8), 0 0 40px rgb(238, 234, 8),0 0 50px rgb(238, 234, 8), 0 0 60px rgb(238, 234, 8) ,0 0 70px rgb(238, 234, 8);

    } 
}
    ul{
        list-style: none;
    }
.nav li a:hover{
    text-decoration: underline;
}
#pkg{
    margin:8px;
}
#add{
    margin:8px;
}
#ctc{
    margin:8px;
}
#home{
    margin:8px;
}
.bttn{
    display: flex;
    justify-content: flex-end;
    margin-top: 300px;
    margin-left: 112%;
   
}
.btn{
    margin-left: 150px;
    padding: 60px;
    border-radius: 105px;
    font-family:  'Henny Penny', cursive;
    font-weight: bold;
    font-size: 25px;
    border-width: 4px;
    opacity: 0.8;

background-color: rgb(235, 146, 69);
cursor: pointer;
border-color: rgb(58, 38, 1);
color: whitesmoke;
animation:  spark 1s ease-in-out infinite alternate;

}
.bottom{
    display: flex;
 
    margin-top: 30px;
    justify-content: flex-end;
   
}
.end{
    font-size: 35px;

  
}
#fb{
    color: white;
margin: 14px;
  
animation: icon  0.5s ease-in-out infinite alternate;
}
#tweet{
    color: white;
    margin: 14px;
    animation: icon  0.5s ease-in-out infinite alternate;
}
#insta{
    color: white;
    margin: 14px;
    animation: icon2  0.5s ease-in-out infinite alternate;

}
@keyframes icon{
    from{
        text-shadow: 0 0 10px rgb(255, 255, 255),0 0 20px rgb(255, 255, 255) , 0 0 30px rgb(14, 30, 170), 0 0 40px rgb(14, 30, 170),0 0 50px rgb(14, 30, 170) }
    to{
        text-shadow: 0 0 10px rgb(255, 255, 255),0 0 20px rgb(255, 255, 255) , 0 0 30px  rgb(64, 76, 184), 0 0 40px  rgb(64, 76, 184),0 0 50px rgb(64, 76, 184)  }

    } 


    @keyframes icon2 {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073
        }
        to {
          text-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6
        }
      }
      @keyframes spark {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e64100, 0 0 40px #e64100, 0 0 50px #e64100
        }
        to {
          text-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c56640, 0 0 40px #c56640, 0 0 50px #c56640
        }
      }
.btn:hover{
    background-color: rgb(219, 168, 100)}
    .menu{
        display: inline-block;
        margin-top: 40px; 
    }